@font-face {
  font-family: "futura_stdlight";
  src:
    url("font/futurastd-light-webfont-webfont.woff2") format("woff2"),
    url("font/futurastd-light-webfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  --pr-blue: #3A5EAB;
  --orange-pr: #D98014;
  --sky-blue: #30CFF2;
  --bone-white: #F0F0F2;
  --dark-red: #8C0B2E;
  --red-pr: #A60D29;
  --basil-green: #88a308;
  --dark-gray: #333333;
  --light-gray: #e4e1d1;
  --orange: #f90;
  --red: #f00;
  --max-width: 840px;
  --light-green: #fafdeb;
  --breakpoint: 640px;
}

* {
  margin: 0;
  padding: 0;
  font-family: fangsong;
  /* margin-top: 10px */
}

::selection {
  background: var(--sky-blue);
  color: #fff;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.5;
  color: var(--dark-gray);
  max-width: var(--max-width);

  @media(width > 640px) {
    margin: 0 auto;
    margin-top: 24px;

  }
}

h2,
h3 {
  color: yellowgreen;
  margin: 8px 0;
  font-size: 1.4rem;
  letter-spacing: -1px;
  font-family: 'Henny Penny';
}

h2 {
  font-size: 2rem;
  font-family: 'Henny Penny';
}

a {
  color: var(--orange-pr);
  text-decoration: none;
  transition: color 0.5s linear;
}

a:hover {
  color: var(--red);
}

img {
  width: 100%;
}

li>h4 {
  margin-top: 12px;
}

header {
  height: 120px;
  background: yellowgreen;
  position: relative;

  @media (width > 640pm) {
    border-radius: 8px 8px 0px 0px;
  }

  h1 {
    background: url(img/tree\ Small.png) no-repeat;
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;
    /* font-family: futura_stdlight, sans-serif;
    font-weight: normal; */
    color: #fff;
    font-size: 5rem;

    @media (width > 640px) {
      padding-left: 395px;
      padding-top: 90px;
      transform: translate(-100px, -80px);
      background-position: top left;
    }
  }

  a.beta {
    background: url(img/star.svg) no-repeat;
    /* color: var(--orange-pr); */
    /* font-size: 1.5rem; */
    position: absolute;
    top: -20px;
    right: 90px;
    width: 95px;
    height: 115px;
    /* text-transform: uppercase; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    transform: rotateY(360deg);
    transition: all 1s ease;

    @media (width < 726px) {
      margin-right: -90px;
      margin-top: -7px;

    }

    &:hover {
      transform: rotate(0deg) scale(1.2);
    }
  }
}

nav {
  background: var(--orange-pr);
  border-top: 0.5rem solid var(--bone-white);
  /* padding: 0.5rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;



  ul {
    display: flex;
    gap: 1rem;
    list-style: none;

    a {
      text-align: center;
      font-size: 1rem;
      padding: 5px;
      color: #fff;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      border-radius: 100px;
      min-width: 100px;
      display: block;

      &:hover {
        color: white;
      }
    }
  }

}


.nav-storeit a {
  background-image: linear-gradient(to bottom, #467302 1%, #84BF04 100%);
}

.nav-storeit a:hover {
  background-image: linear-gradient(to bottom, #055902 0%, #067302 100%);
}

.nav-pickit a {
  background-image: linear-gradient(to bottom, #467302 0%, #84BF04 100%);
}

.nav-pickit a:hover {
  background-image: linear-gradient(to bottom, #055902 1%, #067302 100%);
}

.nav-cookit a {
  background-image: linear-gradient(to bottom, #467302 0%, #84BF04 100%);
}

.nav-cookit a:hover {
  background-image: linear-gradient(to bottom, #055902 1%, #067302 100%);
}


aside li {
  list-style: none;
}

article li,
article ol {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

article,
aside {
  padding: 1rem;
}

footer {
  background-color: yellowgreen;
  padding: 1rem;
  border-radius: 0 0 4px 4px;
  margin-bottom: 2rem;
  color: #F0F0F2;
}

.last {
  border-bottom: 1.5px dashed var(--pr-blue);
}

.caldoIngredients {
  color: var(--orange-pr);
}

.partTwoList {
  margin-left: 1px;
}

.prepList {
  margin: 20px 0;

}

.prPic {
  width: 30%;
  position: absolute;
  margin-left: 22rem;
  margin-top: -5rem;

  @media (width < 640px) {
    width: 50%;
    position: absolute;
    margin-left: 1rem;
    margin-top: 0;
  }
}


@media(width > 640px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  article {
    flex: 1 0 60%;
  }

  aside {
    background-color: lightyellow;
    box-shadow: -4px 0px 4px #ddd;
  }


}